.sass-cache
.DS_Store
.start.pid
node_modules
govuk_modules
static_site

# Ignore compiled stylesheets
public/stylesheets/

# Ignore compiled javascripts
public/javascripts/*.min.js

# Ignore WIP form examples
views/examples/forms

# Ignore test files
dist/*.html

# Wraith
shots
shots_history
