@import "typography";
@import "conditionals";

.back-to-previous {
  @include core-16;
  display: block;
  position: static;
  text-decoration: none;
  border-bottom: $black 1px solid;
  width: 2.25em;
  background: url("public/images/icon-caret-left.png") left 0.2em no-repeat;
  padding-left: 0.75em;
  text-align: right;
  margin: 2em 0 0 2em;
  overflow: hidden;

  @include media(mobile) {
    font-size: 16px;
  }
}

a.back-to-previous,
a.back-to-previous:active,
a.back-to-previous:hover,
a.back-to-previous:focus {
  color: $black;
}
