{{<patterns_layout}}

{{$pageTitle}}Take part in user research{{/pageTitle}}

{{$content}}
    <main id="content" role="main" tabindex="-1">

      {{>breadcrumb}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            Take part in user research
          </h1>

          <div class="text">
            <p>If you’d like to help us improve GOV.UK and the services we provide, you can help us by taking part in user research.</p>
            <p>As a participant, you’ll play an important part in helping us deliver services that work for the people who need them.</p>
            <p>You must be 16 or older to take part in research.</p>
          </div>
          <div class="page-action">
            <a class="button" href="#" role="button">Apply now</a>
          </div>
          <div class="text">
            <p>
              <a href="">Find out more about what's involved</a>
            </p>
          </div>
        </div>
      </div>
    </main><!-- / #content -->
{{/content}}

{{/patterns_layout}}
