{{<layout}}

{{$pageTitle}}User research panel front-end patterns{{/pageTitle}}

{{$content}}
    <main id="content" role="main" tabindex="-1">

      {{>breadcrumb}}

      <h1 class="heading-xlarge">Check your answers before sending</h1>

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="confirmation">
            <div>
              <h3>Field 1 question</h3>
              <div class="data-wrap">
                <p>Field 1 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 1 question</span>
              </a>
            </div>
            <div>
              <h3>Field 2 question</h3>
              <div class="data-wrap">
                <p>Field 2 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 2 question</span>
              </a>
            </div>
            <div>
              <h3>Field 3 question</h3>
              <div class="data-wrap">
                <p>Field 3 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 3 question</span>
              </a>
            </div>
            <div>
              <h3>Field 4 question</h3>
              <div class="data-wrap">
                <p>Field 4 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 4 question</span>
              </a>
            </div>
            <div>
              <h3>Field 5 question</h3>
              <div class="data-wrap">
                <p>Field 5 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 5 question</span>
              </a>
            </div>
            <div>
              <h3>Field 6 question</h3>
              <div class="data-wrap">
                <p>Field 6 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 6 question</span>
              </a>
            </div>
            <div>
              <h3>Field 7 question</h3>
              <div class="data-wrap">
                <p>Field 7 answer</p>
              </div>
              <a href="" class="change">
                Change
                <!-- Include the name of the question the user can change in the visually hidden span -->  
                <span class="visuallyhidden"> Field 7 question</span>
              </a>
            </div>

            <div class="notice">
              <h2 class="heading-medium">Send your answers</h2>
              <p>Some extra information about what sending this information means.</p>
              <div class="warning">
                <p>This confirms the information you send was entered by you and no one else.</p>
              </div>
            </div>  
          
            <form action="" method="POST">
              <input id="continue" type="submit"
                     class="button next"
                     value="Send my answers">
            </form>
          </div>
        </div>
      </div>
    </main><!-- / #content -->
{{/content}}

{{/layout}}
