{{<layout}}

{{$pageTitle}}Content page | User research panel front-end patterns{{/pageTitle}}

{{$mainContent}}

      {{>breadcrumb}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            Page heading
          </h1>

          <p>Copy should be split into paragraphs</p>
          <p>Other HTML patterns you can include here are described on this page on <a href="http://govuk-elements.herokuapp.com/typography/">GOVUK Elements</a></p>
        </div>
      </div>
{{/mainContent}}

{{/layout}}
