{{<layout}}

{{$pageTitle}}User research panel front-end patterns{{/pageTitle}}

{{$content}}
    <main id="content" role="main" tabindex="-1">

      {{>breadcrumb}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            User research front-end patterns
          </h1>

          <div class="text">
            <ul>
              <li><a href="/text-field-single">Single text field</a>
              <li><a href="/text-field-multiple">Multiple text fields</a>
            </ul>
          </div>
        </div>
      </div>
    </main><!-- / #content -->
{{/content}}

{{/layout}}
