{{<layout}}

{{$pageTitle}}User research panel front-end patterns{{/pageTitle}}

{{$content}}
    <main id="content" role="main" tabindex="-1">

      {{>breadcrumb}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            User research front-end patterns
          </h1>

          <div class="text">
            <ul class="list list-bullet">
              <li><a href="/text-field-single">Single text field</a>
              <li><a href="/text-field-single-with-validation">Single text field with validation</a>
              <li><a href="/text-field-multiple">Multiple text fields</a>
              <li><a href="/text-field-multiple-with-validation">Multiple text fields with validation</a>
              <li><a href="/text-field-date">Date field</a>
              <li><a href="/text-field-date-with-validation">Date field with validation</a>
              <li><a href="/radio-field-single-two-options">Single field with two radio options</a>
              <li><a href="/radio-field-single-two-options-with-validation">Single field with two radio options with validation</a>
              <li><a href="/radio-field-single-multiple-options">Single field with multiple radio options</a>
              <li><a href="/radio-field-single-multiple-options-with-validation">Single field with multiple radio options with validation</a>
              <li><a href="/radio-field-multiple-multiple-options">Multiple fields with multiple radio options</a>
              <li><a href="/radio-field-multiple-multiple-options-with-validation">Multiple fields with multiple radio options with validation</a>
            </ul>
          </div>
        </div>
      </div>
    </main><!-- / #content -->
{{/content}}

{{/layout}}
