{{<layout}}

{{$pageTitle}}User research panel front-end patterns{{/pageTitle}}

{{$mainContent}}

      {{>breadcrumb}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            User research front-end patterns
          </h1>

          <p>
            This styleguide contains all the patterns from <a href="http://govuk-elements.herokuapp.com">GOVUK Elements</a> with some additions.
            Any pattern in GOVUK Elements can be used with the code here.
          </p>
          <p>More detailed implementation advice for the patterns below can be found in the HTML source code.</p>

          <div class="text">
            <h2 class="heading-large">Tools</h2>
            <ul class="list list-bullet">
              <li><a href="/basic-page">Basic page</a></li>
            </ul>
            <h2 class="heading-large">Pages</h2>
            <ul class="list list-bullet">
              <li><a href="/content">Content page</a></li>
              <li><a href="/apply">Start page</a></li>
              <li><a href="/confirmation">Confirmation</a></li>
              <li><a href="/page-not-found">Page not found</a></li>
              <li><a href="/technical-problems">Technical problems</a></li>
            </ul>
            <h2 class="heading-large">Text fields</h2>
            <ul class="list list-bullet">
              <li><a href="/text-field-single">Single text field</a>
              <li><a href="/text-field-single-with-validation">Single text field with validation</a>
              <li><a href="/text-field-multiple">Multiple text fields</a>
              <li><a href="/text-field-multiple-with-validation">Multiple text fields with validation</a>
              <li><a href="/text-field-date">Date field</a>
              <li><a href="/text-field-date-with-validation">Date field with validation</a>
              <li><a href="/text-field-multiline-single">Single multi-line text field</a>
              <li><a href="/text-field-multiline-single-with-validation">Single multi-line text field with validation</a>
            </ul>
            <h2 class="heading-large">Radio fields</h2>
            <ul class="list list-bullet">
              <li><a href="/radio-field-single-two-options">Single field with two radio options</a>
              <li><a href="/radio-field-single-two-options-with-validation">Single field with two radio options with validation</a>
              <li><a href="/radio-field-single-multiple-options">Single field with multiple radio options</a>
              <li><a href="/radio-field-single-multiple-options-with-validation">Single field with multiple radio options with validation</a>
              <li><a href="/radio-field-multiple-multiple-options">Multiple fields with multiple radio options</a>
              <li><a href="/radio-field-multiple-multiple-options-with-validation">Multiple fields with multiple radio options with validation</a>
            </ul>
            <h2 class="heading-large">Checkbox fields</h2>
            <ul class="list list-bullet">
              <li><a href="/checkbox-field-single-multiple-options">Single field with multiple checkbox options</a>
              <li><a href="/checkbox-field-single-multiple-options-with-validation">Single field with multiple checkbox options with validation</a>
              <li><a href="/checkbox-field-multiple-multiple-options">Multiple fields with multiple checkbox options</a>
              <li><a href="/checkbox-field-multiple-multiple-options-with-validation">Multiple fields with multiple checkbox options with validation</a>
              <li><a href="/checkbox-field-single-multiple-options-conditional-section">Single field with multiple checkbox options and a conditional section</a>
              <li><a href="/checkbox-field-single-multiple-options-conditional-section-with-validation">Single field with multiple checkbox options and a conditional section with validation</a>
            </ul>
          </div>
        </div>
      </div>
{{/mainContent}}

{{/layout}}
