{{<govuk_template}}

{{$head}}
    <!-- Document head block start -->
    {{>patterns_head}}
    <!-- Document head block end -->
{{/head}}

{{$propositionHeader}}
        <!-- Page navigation start -->
        {{>patterns_navigation}}
        <!-- Page navigation end -->
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
    <div id="wrapper">
      <!-- Remove this banner for production use - start -->
      {{>patterns_phase_banner}}
      <!-- Remove this banner for production use - end -->
      <main role="main" id="content" tabindex="-1">
        {{$mainContent}}{{/mainContent}}
      </main>
    </div>
{{/content}}

{{$footerSupportLinks}}
            <!-- Supporting links start -->
            <h2 class="visuallyhidden">Support links</h2>
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
            </ul>
            <!-- Supporting links end -->
{{/footerSupportLinks}}

{{$bodyEnd}}
  <!-- Scripts start -->
  {{>scripts}}
  <!-- Scripts end -->
{{/bodyEnd}}

{{/govuk_template}}
