{{<layout}}

{{$pageTitle}}Single field with multiple radio options with validation - User research panel front-end patterns{{/pageTitle}}

{{$mainContent}}

      {{>breadcrumb}}

      <h1 class="heading-xlarge">
        Single field with multiple radio options with validation
      </h1>

      <div class="grid-row">
        <div class="column-two-thirds">

          <form action="" method="get">
            <!-- The <legend> tag must label the field -->
            <fieldset class="form-group error">

              <!-- Remove the 'form-label' or 'form-label-bold' class from the <legend> tag -->
              <legend id="field-1">

                <!-- Wrap the legend text in a <span> with a class of 'form-label' or 'form-label-bold' -->
                <span class="form-label-bold">Radio field 1</span>

                <!-- Add the error text for the field to a span with a class of 'error-message' -->
                <span class="error-message">Error message goes here</span>
              </legend>

              <label class="block-label" for="radio-1">
                <input id="radio-1" type="radio" name="radio-group" value="Option 1">
                Option 1
              </label>
              <label class="block-label" for="radio-2">
                <input id="radio-2" type="radio" name="radio-group" value="Option 2">
                Option 2
              </label>
              <label class="block-label" for="radio-3">
                <input id="radio-3" type="radio" name="radio-group" value="Option 3">
                Option 3
              </label>

            </fieldset>
            <fieldset class="form-group error">
              <legend id="field-1-with-hint"> 
                <span class="form-label-bold">Radio field 1 with hint</span>
                <span class="form-hint">Hint to help users choose an option</span>
                <span class="error-message">Error message goes here</span>
              </legend>
              <label class="block-label" for="radio-with-hint-1">
                <input id="radio-with-hint-1" type="radio" name="radio-with-hint-group" value="Option 1">
                Option 1
              </label>
              <label class="block-label" for="radio-with-hint-2">
                <input id="radio-with-hint-2" type="radio" name="radio-with-hint-group" value="Option 2">
                Option 2
              </label>
              <label class="block-label" for="radio-with-hint-3">
                <input id="radio-with-hint-3" type="radio" name="radio-with-hint-group" value="Option 3">
                Option 3
              </label>
            </fieldset>
            <button type="submit" class="button">Continue</button>
          </form>
        </div>
      </div>
      <!-- see http://govuk-elements.herokuapp.com/errors/ for guidance -->
{{/mainContent}}

{{/layout}}
