{{<layout}}

{{$pageTitle}}Radio buttons for a field with two options - User research panel front-end patterns{{/pageTitle}}

{{$mainContent}}

      {{>breadcrumb}}

      <h1 class="heading-xlarge">
        Radio buttons for a field with two options
      </h1>

      <div class="grid-row">
        <div class="column-two-thirds">

          <form action="" method="get">
            <!-- the wrapping <fieldset> tag must have a class of 'inline' for fields with two options -->
            <fieldset class="inline form-group">

              <!-- The <legend> tag must label the field -->
              <legend class="form-label">Radio field 1</legend>

              <!-- The 'for' attribute must match the id of the form it labels -->
              <label class="block-label" for="radio-inline-1">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                Yes
              </label>

              <!-- The 'for' attribute must match the id of the form it labels -->
              <label class="block-label" for="radio-inline-2">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                No
              </label>

            </fieldset>
            <fieldset class="inline form-group">
              <legend class="form-label"> 
                Radio field 1 with hint
                <span class="form-hint">Hint to help users choose an option</span>
              </legend>
              <label class="block-label" for="radio-inline-with-hint-1">
                <input id="radio-inline-with-hint-1" type="radio" name="radio-inline-group-with-hint" value="Yes">
                Yes
              </label>
              <label class="block-label" for="radio-inline-with-hint-2">
                <input id="radio-inline-with-hint-2" type="radio" name="radio-inline-group-with-hint" value="No">
                No
              </label>
            </fieldset>
            <button type="submit" class="button">Continue</button>
          </form>
        </div>
      </div>
{{/mainContent}}

{{/layout}}
