{{<layout}}

{{$pageTitle}}Multiple fields with multiple radio options - User research panel front-end patterns{{/pageTitle}}

{{$content}}
    <main id="content" role="main" tabindex="-1">

      {{>breadcrumb}}

      <h1 class="heading-xlarge">
        Multiple fields with multiple radio options
      </h1>

      <div class="grid-row">
        <div class="column-two-thirds">

          <form action="" method="get">
            <fieldset class="form-group">

              <!-- The <legend> tag must label the field -->
              <legend class="form-label-bold">Radio field 1</legend>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-1-option-1">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-1-option-1" type="radio" name="radio-group-1" value="Option 1">
                Option 1
              </label>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-1-option-2">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-1-option-2" type="radio" name="radio-group-1" value="Option 2">
                Option 2
              </label>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-1-option-3">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-1-option-3" type="radio" name="radio-group-1" value="Option 3">
                Option 3
              </label>

            </fieldset>
            <fieldset class="form-group">

              <!-- The <legend> tag must label the field -->
              <legend class="form-label-bold">Radio field 2</legend>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-2-option-1">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-2-option-2" type="radio" name="radio-group-2" value="Option 2">
                Option 2
              </label>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-2-option-2">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-2-option-2" type="radio" name="radio-group-2" value="Option 2">
                Option 2
              </label>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-2-option-3">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-2-option-3" type="radio" name="radio-group-2" value="Option 3">
                Option 3
              </label>

            </fieldset>
            <fieldset class="form-group">

              <!-- The <legend> tag must label the field -->
              <legend class="form-label-bold">Radio field 2</legend>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-3-option-1">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-3-option-2" type="radio" name="radio-group-3" value="Option 2">
                Option 2
              </label>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-3-option-2">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-3-option-2" type="radio" name="radio-group-3" value="Option 2">
                Option 2
              </label>

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="block-label" for="radio-group-3-option-3">

                <!-- All <input type=radio> tags must share the same name for their group -->
                <input id="radio-group-3-option-3" type="radio" name="radio-group-3" value="Option 3">
                Option 3
              </label>

            </fieldset>
            <button type="submit" class="button">Continue</button>
          </form>
        </div>
      </div>
    </main><!-- / #content -->
{{/content}}

{{/layout}}
