{{<layout}}

{{$pageTitle}}Single multi-line text field - User research panel front-end patterns{{/pageTitle}}

{{$mainContent}}

      {{>back-to-previous}}

      <h1 class="heading-xlarge">
        Single multi-line text field
      </h1>

      <div class="grid-row">
        <div class="column-two-thirds">

          <form action="" method="get">
            <!-- use form-group elements to create space between fields -->
            <!-- see: http://govuk-elements.herokuapp.com/form-elements/#form-spacing -->
            <div class="form-group">

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="form-label" for="field-1">
                Text field 1
              </label>
              <textarea class="form-control" id="field-1" cols="60" rows="10"></textarea>
            </div>
            <div class="form-group">

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="form-label" for="field-with-hint-1">
                Text field 1 with hint
                <span class="form-hint">Hint to help the user fill in the field</span>
              </label>
              <textarea class="form-control" id="field-with-hint-1" cols="60" rows="10"></textarea>
            </div>
            <button type="submit" class="button">Continue</button>
          </form>
        </div>
      </div>
{{/mainContent}}

{{/layout}}
