{{<layout}}

{{$pageTitle}}Single text field - User research panel front-end patterns{{/pageTitle}}

{{$content}}
    <main id="content" role="main" tabindex="-1">

      {{>breadcrumb}}

      <h1 class="heading-xlarge">
        Single text field
      </h1>

      <div class="grid-row">
        <div class="column-two-thirds">

          <form action="" method="get">
            <!-- use form-group elements to create space between fields -->
            <!-- see: http://govuk-elements.herokuapp.com/form-elements/#form-spacing -->
            <div class="form-group">

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="form-label" for="field-1">
                Text field 1
              </label>
              <input class="form-control" id="field-1" name="field-1" type="text">
            </div>
            <div class="form-group">

              <!-- The 'for' attribute should match the id of the form it labels -->
              <label class="form-label" for="field-1">
                Text field 1 with hint
                <span class="form-hint">Hint to help the user fill in the field</span>
              </label>
              <input class="form-control" id="field-1" name="field-1" type="text">
            </div>
            <button type="submit" class="button">Continue</button>
          </form>
        </div>
      </div>
    </main><!-- / #content -->
{{/content}}

{{/layout}}
